[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[dn]
C = US
ST = NY
L = New York
O = Crimson Biologics
CN = api.crimson-biologics.sandbox5466.opentlc.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = api.crimson-biologics.sandbox5466.opentlc.com
DNS.2 = *.apps.crimson-biologics.sandbox5466.opentlc.com
